<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backstage.crs.mapper.AppletMapper">
    <select id="getUser" resultType="map">
        select userid,name,tel from user_base where name like '%'||#{str}||'%'
        limit 5
    </select>
    <insert id="setPersonalplan" parameterType="com.example.backstage.crs.entity.PersonalplanEntity">
        insert into personalplan(userid, particulars, createdon, createdby, createdname,status)
        values (
        #{userid}::bigint,#{particulars},now(),#{createdby},#{createdname},false
       );
    </insert>

    <select id="getPersonalplanBycreatedby" resultType="map">
        select planid,(select name from user_base where personalplan.userid=userid) as name,particulars,to_date(createdon::text,'yyyy-MM-dd') createdon,createdby,createdname,status from personalplan
        where createdby=#{createdby}
        order by createdon desc
    </select>

    <select id="getPersonalplanAll" resultType="map">
        select planid,(select name from user_base where personalplan.userid=userid) as name,particulars,to_date(createdon::text,'yyyy-MM-dd') createdon,createdby,createdname,status from personalplan
        order by createdon desc
    </select>

    <select id="getPersonalplanByuserid" resultType="map">
        select planid,userid,particulars,to_date(createdon::text,'yyyy-MM-dd') createdon,createdby,createdname,status from personalplan where userid=#{userid}::bigint
        order by createdon desc
    </select>

    <update id="affirmPersonalplan">
        update Personalplan set status=true where planid=#{planid}::bigint
    </update>
</mapper>
