<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backstage.crs.mapper.CrdMembershipcardcategoryTypecardMapper">
    <select id="selectMembershipCardCategoryByCardId" parameterType="Long"  resultType="com.example.backstage.crs.entity.CrdMembershipcardcategoryTypecardEntity">
        select * from Crd_MembershipCardCategory_TypeCard where CardId=#{cardid} and isremoved is false
    </select>
</mapper>