<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backstage.crs.mapper.SPMIntegralGoodsBaseMapper">
    <insert id="insertSPMIntegralGoodsBase"  parameterType="com.example.backstage.crs.entity.SpmIntegralgoodsBaseEntity"   keyProperty="goodscode" useGeneratedKeys="true">
            insert into SPM_IntegralGoods_Base (name,imgid,imgurl,salespoint,storeid,storename,usedvaliditybegin,
            usedvalidityend,salesstate,isremoved,createdon,createdby,createdname,createdip,lastedon,lastedby,lastedname,lastedip)
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                #{name},
                #{imgid},
                #{imgurl},
                #{salespoint},
                #{storeid},
                #{storename},
                #{usedvaliditybegin},
                #{usedvalidityend},
                #{salesstate},
                #{isremoved},
                #{createdon},
                #{createdby},
                #{createdname},
                #{createdip},
                #{lastedon},
                #{lastedby},
                #{lastedname},
                #{lastedip}
                </trim>
    </insert>


    <select id="getGoodsList" parameterType="String" resultType="java.util.HashMap">
        select * from SPM_IntegralGoods_Base
        <where>
            <if test="storeid !=null and storeid!=''">
            storeid=#{storeid}::INT8
            </if>
        </where>
        order by createdon desc
    </select>

    <select id="selectGoodsOrderList" parameterType="String" resultType="com.example.backstage.crs.entity.SpmIntegralgoodsOrderEntity">
        select
        orderid::varchar ,
          userid ::varchar,
          username ,
          userphone ,
          goodscode ,
          name ,
          imgid::varchar ,
          imgurl ,
          salespoint ,
          storeid ::varchar,
          storename ,
          usedvaliditybegin ,
          usedvalidityend ,
          salesstate ,
          seqnum ,
          opttype ,
          state ,
          isremoved ,
          to_char(createdon,'yyyy-MM-dd'),
          createdby ,
          createdname ,
          createdip ,
          to_char(lastedon,'yyyy-MM-dd') ,
          lastedby ,
          lastedname ,
          lastedip  from SPM_IntegralGoods_Order
        <where>
            <if test="storeid !=null and storeid!=''">
                storeid=#{storeid}::INT8
            </if>
        </where>
        order by createdon desc
    </select>

    <select id="selectGoodsOrderExchangeList" parameterType="String" resultType="java.util.HashMap">
        select * from SPM_IntegralGoods_Order_exchangelog
        <where>
            <if test="storeid !=null and storeid!=''">
                storeid=#{storeid}::INT8
            </if>
        </where>
        order by createdon desc
    </select>

    <update id="updateSPMIntegralGoodsBase"  parameterType="com.example.backstage.crs.entity.SpmIntegralgoodsBaseEntity" >
        UPDATE SPM_IntegralGoods_Base
        <trim prefix="SET" suffixOverrides=",">
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="imgid!=null">
                imgid=#{imgid},
            </if>
            <if test="imgurl!=null">
                imgurl=#{imgurl},
            </if>
            <if test="salespoint!=null">
                salespoint=#{salespoint},
            </if>
            <if test="storeid!=null">
                storeid=#{storeid},
            </if>
            <if test="storename!=null">
                storename=#{storename},
            </if>
            <if test="usedvaliditybegin!=null">
                usedvaliditybegin=#{usedvaliditybegin},
            </if>
            <if test="lastedon!=null">
                lastedon=#{lastedon},
            </if>
            <if test="lastedby!=null">
                lastedby=#{lastedby},
            </if>
            <if test="lastedname!=null">
                lastedname=#{lastedname},
            </if>
            <if test="lastedip!=null">
                lastedip=#{lastedip}
            </if>
        </trim>
        WHERE goodscode=#{goodscode}
    </update>

    <delete  id="deleteSPMIntegralGoodsBase" parameterType="Integer" >
            delete from SPM_IntegralGoods_Base where goodscode = #{goodscode}
    </delete>

    <update id="updateIntegralGoodsPurchased" parameterType="String">
        update spm_integralgoods_base set purchased=purchased+1 where goodscode=#{goodscode}::INT8 ,
    </update>

    <update id="updateSPMIntegralGoodsBaseSalesState"  parameterType="com.example.backstage.crs.entity.SpmIntegralgoodsBaseEntity" >
        UPDATE SPM_IntegralGoods_Base
        <trim prefix="SET" suffixOverrides=",">
                salesstate=#{salesstate},
            <if test="lastedon!=null">
                lastedon=#{lastedon},
            </if>
            <if test="lastedby!=null">
                lastedby=#{lastedby},
            </if>
            <if test="lastedname!=null">
                lastedname=#{lastedname},
            </if>
            <if test="lastedip!=null">
                lastedip=#{lastedip}
            </if>
        </trim>
        WHERE goodscode=#{goodscode}
    </update>

    <update id="UpdateSpmGoodsOrder">
        update spm_integralgoods_order set state=2 where state=0 and CURRENT_DATE>usedvalidityend
    </update>

    <select id="selectSpmGoodsOrderByStoreids" parameterType="Long"  resultType="java.util.HashMap">
        select goodscode::varchar ,
         name,
         imgid,
         imgurl,
         salespoint,
         storeid::varchar,
         storename,
         usedvaliditybegin,
         usedvalidityend,
         salesstate,
         seqnum,
         createdon,
         createdby,
         createdname,
         createdip,
         lastedon,
         lastedby,
         lastedname,
         stock,
         purchased,
         totalpurchased from spm_integralgoods_base
        <where>
         salesstate=1 and isremoved='f'
            <![CDATA[ and to_char(now(),'YYYY-MM-DD')<=to_char(usedvalidityend,'YYYY-MM-DD') ]]>
        and storeid=#{storeid} order by seqnum asc
        </where>
    </select>

    <insert id="insertApmInteralGoodsOrder" parameterType="Long">
        insert into spm_integralgoods_order
        (orderid,userid,username,userphone,goodscode,name,imgid,imgurl,salespoint,storeid,storename,usedvaliditybegin,
        usedvalidityend,salesstate,seqnum,opttype,state,isremoved,createdon,createdby,createdname,createdip,lastedon,lastedby,lastedname,lastedip)
        select #{goodscode},b.userid,b.name,b.tel,a.goodscode,a.name,a.imgid,a.imgurl,a.salespoint,a.storeid,a.storename,a.usedvaliditybegin,
        a.usedvalidityend,a.salesstate,a.seqnum,1,0,'f',now(),b.userid,b.name,'::1',now(),b.userid,b.name,'::1' from spm_integralgoods_base as a
        inner join user_base as b on b.userid=#{userid} and b.status=1 and b.points>=a.salespoint
        <where> a.salesstate=1
        and a.isremoved='f'
            <![CDATA[  and to_char(now(),'YYYY-MM-DD')<=to_char(a.usedvalidityend,'YYYY-MM-DD')   ]]>
        and a.goodscode=#{goodscode}
        </where>
    </insert>

    <select id="selectSpmIntegralGoodsByGoodcode" parameterType="Long" resultType="java.util.HashMap">
        select salespoint from spm_integralgoods_base where goodscode=#{goodscode}
    </select>

    <select id="selectAllSpmIntegralGoodsByGoodcode" parameterType="Long" resultType="com.example.backstage.crs.entity.SpmIntegralgoodsBaseEntity">
        select * from spm_integralgoods_base where goodscode=#{goodscode}
    </select>


</mapper>